.elements {
  width: 880px;
  height: auto;
  margin: 50px 200px 67px 200px;
}
.elements-places {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 17px;
}
.element-place {
  width: 282px;
  height: 361px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}
.element-place__photo {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element-place-data {
  display: flex;
}
.element-place-data__name {
  color: black;
  margin: 19px 10px 23px 32px;
  width: 246px;
  height: 32px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element-place-data__like {
  width: 21px;
  height: 19px;
  margin: 20px 13px 35px auto;
}
.element-place-data__blacklike {
  width: 21px;
  height: 19px;
  margin: 20px 13px 35px auto;
  display: none;
  z-index: 1000;
}
.element-place-data__trash {
  width: 21px;
  height: 19px;
  margin: -274px 13px 30px auto;
}

@media screen and (max-width: 320px) {
  .elements {
    width: 282px;
    height: auto;
    margin: 0px 19px 0px 19px;
  }
  .elements-places {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .element-place {
    width: 282px;
    height: 361px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .element-place__photo {
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .element-place-data {
    display: flex;
  }
  .element-place-data__name {
    color: black;
    margin: 19px 10px 23px 32px;
    width: 246px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .element-place-data__like {
    width: 21px;
    height: 19px;
    margin: 20px 13px 35px auto;
  }
  .element-place-data__blacklike {
    width: 21px;
    height: 19px;
    margin: 20px 13px 35px auto;
    display: none;
    z-index: 1000;
  }
  .element-place-data__trash {
    width: 21px;
    height: 19px;
    margin: -274px 13px 30px auto;
  }
}
@media screen and (max-width: 1279px) and (min-width: 321px) {
  .elements {
    width: 583px;
    height: auto;
    margin: 50px 141px 67px 154px;
  }
  .elements-places {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 17px;
  }
  .element-place {
    width: 282px;
    height: 361px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .element-place__photo {
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .element-place-data {
    display: flex;
  }
  .element-place-data__name {
    color: black;
    margin: 19px 10px 23px 32px;
    width: 246px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .element-place-data__like {
    width: 21px;
    height: 19px;
    margin: 20px 13px 35px auto;
  }
  .element-place-data__blacklike {
    width: 21px;
    height: 19px;
    margin: 20px 13px 35px auto;
    display: none;
    z-index: 1000;
  }
  .element-place-data__trash {
    width: 21px;
    height: 19px;
    margin: -274px 13px 30px auto;
  }
}
