.profile {
  display: flex;
  width: 880px;
  height: 120px;
  margin: 40px 200px 0px 200px;
  color: white;
}
.profile__photo {
}
.profile__photo-picture {
  width: 120px;
  height: 120px;
  margin: 0;
  border-radius: 50%;
}
.profile__data {
}
.profile__info {
  display: flex;
}
.profile__name {
  width: 373px;
  height: 39px;
  margin: 22px 18px 16px 30px;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-top: 37px;
}
.profile__job {
}
.profile__profession {
  width: 415px;
  height: 22px;
  margin: 0px 0px 21px 30px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}
.profile__icon {
}
.profile__icon-add {
  width: 150px;
  height: 50px;
  margin: 35px 0px 35px 165px;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    width: 282px;
    height: 286px;
    margin: 42px 19px 36px 19px;
    color: white;
  }
  .profile__photo {
    margin: 0;
  }
  .profile__photo-picture {
    width: 120px;
    height: 120px;
    margin: 0px auto 0px 100px;
    border-radius: 50%;
  }
  .profile__data {
  }
  .profile__info {
  }
  .profile__name {
    width: 196px;
    height: 22px;
    margin: 30px 0px 14px 48px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 31px 48px 14px 10px;
  }
  .profile__job {
  }
  .profile__profession {
    width: 282px;
    height: 14px;
    margin: 0px 19px 36px auto;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
  }
  .profile__icon {
  }
  .profile__icon-add {
    width: 282px;
    height: 50px;
    margin: 0px 19px 36px auto;
  }
}
@media screen and (max-width: 1279px) and (min-width: 321px) {
  .profile {
    display: flex;
    width: 748px;
    height: 110px;
    margin: 18px 74px 0px 57px;
    color: white;
  }
  .profile__photo {
  }
  .profile__photo-picture {
    width: 110px;
    height: 110px;
    margin: 0;
    border-radius: 50%;
  }
  .profile__data {
  }
  .profile__info {
    display: flex;
  }
  .profile__name {
    width: 305px;
    height: 37px;
    margin: 14px 14px 14px 20px;
    font-family: Inter;
    font-size: 34px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
  }
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin-top: 30px;
  }
  .profile__job {
  }
  .profile__profession {
    width: 290px;
    height: 19px;
    margin: 0px 0px 10px 22px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
  }
  .profile__icon {
  }
  .profile__icon-add {
    width: 124px;
    height: 45px;
    margin: 23px 0px 28px 155px;
  }
}
